
<mat-sidenav class="navy"  #sidenav mode="side">
  <mat-toolbar class="ml-file-list"><img src="/assets/img/nav/Logo.png" alt="image"></mat-toolbar>
  <mat-nav-list class="ml-file-list">
    <a mat-list-item href="#">
      <mat-icon svgIcon="home" [inline]="true"></mat-icon>
      <p class="p-nav">Home</p>
    </a>
    <a mat-list-item href="#">
      <mat-icon svgIcon="workflow" [inline]="true"></mat-icon>
      <p class="p-nav">Workflow</p>
    </a>
    <a mat-list-item href="#">
      <mat-icon svgIcon="statics" [inline]="true"></mat-icon>
      <p class="p-nav">Statistics</p>
    </a>
    <a mat-list-item href="#">
      <mat-icon svgIcon="calander" [inline]="true"></mat-icon>
      <p class="p-nav">Calander</p>
    </a>
    <a mat-list-item href="#">
      <mat-icon svgIcon="users" [inline]="true"></mat-icon>
      <p class="p-nav">Users</p>
    </a>
    <a mat-list-item href="#">
      <mat-icon svgIcon="settings" [inline]="true"></mat-icon>
      <p class="p-nav">Settings</p>
    </a>
  </mat-nav-list>
</mat-sidenav>
