/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './theme.scss';

html, body { height: 100%; }
* { 
    margin: 0; font-family: 'Arial', sans-serif; font-size: 14px; line-height: 0.6;
    @media only screen and (max-width: $mobile) {
        font-size: 12px  !important;
        line-height: 0.8;
    }
}


.mat-list, .mat-nav-list, .mat-selection-list {
    padding: 0px;
}
